html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  background-color: black;
}

body {
  font-family: 'Lato', sans-serif;
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.page-title {
  display: inline;
  padding: 20px;
  font-weight: 100;
  color: whitesmoke;
    font: normal normal normal 90px/1.4em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
}

.profile {
    display: inline;
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
}

.som {
    display: inline;
    float: right;
    width: 22em;
    object-fit: cover;
}

.workExperience {
    width: 4em;
    padding: 40px;
    display: inline;
    position: relative;
}

.workExperienceListText {
    zoom: 0.75;
    display: inline-block;
    position: relative;
    color: whitesmoke;
}

.form {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    color: white;
}

ul {
    list-style: circle;
    margin-left: 20px;
}
/* FOOTER NAVIGATION */

nav {
  background-color: lightpink;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav li a {
    margin-right: 30px;
    padding: 8px 18px;
}

nav li a:active {
  position: relative;
  top: 2px; 
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
